.hover-anim {
  -webkit-transition: .25s opacity ease-out, .2s filter ease-in-out, .25s transform ease-in-out;
  transition: .25s opacity ease-out, .2s filter ease-in-out, .25s transform ease-in-out;
  cursor: pointer;
}

.hover-anim:hover {
  opacity: .8;
}

.hover-anim:active {
  -webkit-transform: scale(.95);
  transform: scale(.95);
  -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
}
