.item__like {
  /* right: 20px;
  bottom: 33px;
  position: absolute; */
  padding: 0;
  margin: 0;
  width: 22px;
  height: 19px;
  background-image: url('../../../images/like.svg');
  background-color: transparent;
  border: none;
  background-size: cover;
}