.popup__input {
  margin: 0;
  margin-bottom: 5px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

/*.popup__input,
.pop-up__input:hover,
.pop-up__input:active,
.pop-up__input:focus {
  outline: none;
}*/
